﻿@model NinjaMVC.Domain.Ninja

<h2>@Model.Name</h2>
<table class="table">
    <tr>
        <th>@Html.LabelFor(model => model.PostalCode)</th>
        <td>@Model.PostalCode</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.HouseNumber)</th>
        <td>@Model.HouseNumber</td>
    </tr>
    <tr>
        <th>@Html.LabelFor(model => model.Identifier)</th>
        <td>@Model.Identifier</td>
    </tr>
</table>

@Html.ActionLink("Back to overview", "Index", "Ninja", null, new {@class="btn btn-primary"})

