﻿@model IEnumerable<NinjaMVC.Domain.Ninja>

<h2>Ninjas</h2>

@Html.ActionLink("Create a Ninja", "Create", "Ninja", null, new { @class = "btn btn-primary" })

<table class="table">
    <tr>
        <th>@Html.LabelFor(model => model.FirstOrDefault().Name)</th>
        <th></th>
    </tr>
    @foreach (var ninja in Model)
    {
        <tr>
            <td>@ninja.Name</td>
            <td>@Html.ActionLink("Details", "Details", "Ninja", new { id = ninja.Identifier }, null)</td>
        </tr>
    }
</table>


