﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NINJA MANAGER</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Select an item in the menu bar to get started.
        </p>
    </div>
</div>
